@import "../../../variables.scss";

header {
    background-color: $black;
    h1,h2 {
        color: white;
        text-align: center;
    }
    .navigation {
        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li {
                flex: 0 1 auto;

                a {
                    display: block;
                    padding: 1rem 2rem;
                    color: white;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover,
                    &:active {
                       color: whitesmoke;
                    }

                    &.activated {
                        background-color: orange;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
